@import "variables";

#main {
  height: 100%;
  padding: 28px;

  display: flex;
  flex-direction: column;

  background-color: $pt-app-background-color;

  &.bp3-dark {
    background-color: $pt-dark-app-background-color;
  }
}

#header {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#content {
  flex: 2;
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  justify-content: center;

  color: $pt-text-color-disabled;

  .bp3-dark & {
    color: $pt-dark-text-color-disabled;
  }
}
